@keyframes ldio-lusy9gx88e {
    0%

{
    opacity: 1
}

100% {
    opacity: 0
}

}

.ldio-lusy9gx88e div {
    left: 91px;
    top: 11px;
    position: absolute;
    animation: ldio-lusy9gx88e linear 1s infinite;
    background: #acbef7;
    width: 18px;
    height: 42px;
    border-radius: 7.140000000000001px / 7.140000000000001px;
    transform-origin: 9px 89px;
}

    .ldio-lusy9gx88e div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -0.9166666666666666s;
        background: #acbef7;
    }

    .ldio-lusy9gx88e div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -0.8333333333333334s;
        background: #acbef7;
    }

    .ldio-lusy9gx88e div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.75s;
        background: #acbef7;
    }

    .ldio-lusy9gx88e div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.6666666666666666s;
        background: #acbef7;
    }

    .ldio-lusy9gx88e div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.5833333333333334s;
        background: #acbef7;
    }

    .ldio-lusy9gx88e div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.5s;
        background: #acbef7;
    }

    .ldio-lusy9gx88e div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.4166666666666667s;
        background: #acbef7;
    }

    .ldio-lusy9gx88e div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.3333333333333333s;
        background: #acbef7;
    }

    .ldio-lusy9gx88e div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.25s;
        background: #acbef7;
    }

    .ldio-lusy9gx88e div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.16666666666666666s;
        background: #acbef7;
    }

    .ldio-lusy9gx88e div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.08333333333333333s;
        background: #acbef7;
    }

    .ldio-lusy9gx88e div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
        background: #acbef7;
    }

.loadingio-spinner-spinner-xtcdb1mmtm {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}

.ldio-lusy9gx88e {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

    .ldio-lusy9gx88e div {
        box-sizing: content-box;
    }
/* generated by https://loading.io/ */
